@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	height:auto;
	padding:0;
	overflow:auto;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

#wrapper{
	position:fixed;
	width:200%;
	height:auto;
	overflow:auto;
}

#menu{
	display: inline-block;
	cursor: pointer;
	position: fixed;
	z-index: 12;
	left:95%;
	top:5%;
}

.bar1, .bar2, .bar3{
	width:30px;
	height:5px;
	background-color: #ffffff;
	margin:6px;
	transition: ease 0.5s;
}

.change .bar1{
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2{
	opacity: 0;
}

.change .bar3{
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.overlay{
	position:fixed;
	z-index:10;
	height:100vh;
	width:100%;
	bottom:100%;
	transition: ease 0.5s;
	background:rgba(0,0,0,0.77);
}

.over{
	bottom:0;
}

#nav{
	list-style-type: none; 
}

.list{
	width:100%;
	text-align: center;
	margin: 3% auto;
	font-size:2vw;
}

.list a{
	text-decoration: none;
	color:#ffffff;
}

#home{
	position: relative;
	float:left;
	height:100vh;
	width:50%;
	overflow:auto;
	background-size:cover;
}

video { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -10;
	transform: translateX(-50%) translateY(-50%);
	background: url('../img/sn3.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: url(resources.svg#desaturate);
    filter: grayscale(100%);
}

#logo{
	height:50vh;
	background: url(../img/snlogo.png) center;
	background-size:cover;
	width:70%;
	margin:auto;
	position: relative;
	top:10%;
}

#start{
	width:10%;
	overflow:auto;
	margin:5% auto;
	background-color: rgba(255,255,255,0.5);
	border:solid 2px #000000;
	z-index:10;
	cursor: pointer;
}

.startp{
	display:block;
	width:100%;
	font-size:1vw;
	text-align: center;
}

#start:hover{
	background:rgba(0,0,0,0.5);
	color:#ffffff;
}

#about{
	position: relative;
	height:100vh;
	width:50%;
	overflow:auto;
	background:url(../img/sn3.jpg) center;
	background-size:cover;
	float:left;
}

#artists{
	position: fixed;
	height:100vh;
	width:100%;
	overflow:auto;
	background:url(../img/sn5.jpg) center;	
	background-size:cover;
	top:100%;
	float:left;
}


#event{
	position: relative;
	height:100vh;
	width:50%;
	overflow:auto;
	background:url(../img/sn4.jpg) center;
	background-size:cover;
}


/* A R T I S T */

#bands {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 10vh 0 0 0;
}

#bands hr {
	width: 68.5%;
}

.tab {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0);
	overflow: hidden;
}

.tab button {
	font-family: 'Open Sans', sans-serif;
	background-color: inherit;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 500;
	float: left;
	border: none;
	cursor: pointer;
	padding: 14px 16px;
	margin: 20px;
	transition: 0.3s;
	color: rgb(145, 145, 145);
	transition: 1s all;
}

.tab button:focus {
	outline: 0;
}

.tab button:hover {
	color: rgb(90, 90, 90);
	border: none;
}

.tab button.active {
	color: rgb(255, 255, 255);
	border: none;
}

.tabcontent {
	display: none;
	width: 70%;
	height: auto;
	overflow: auto;
	margin: 0 auto;
	padding: 40px 0;
} 

.row {
	animation: fade 1.5s;
	-moz-animation: fade 1.5s;
	-webkit-animation: fade 1.5s;
	-o-animation: fade 1.5s;
}

@keyframes fade {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-moz-keyframes fade {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes fade {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-o-keyframes fade {
	0% {opacity:0;}
	100% {opacity:1;}
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.left-col {
	width: 58%;
	float: left;
	padding: 0 1%;
}

.left-col img {
	width: 100%;
}

.right-col {
	width: 38%;
	float: left;
	padding: 0 1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.right-col h4 {
	margin: 0;
	color: #fff;
}

.right-col p {
	text-align: justify;
	color: #fff;
}

.band-social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 10px 0;
}

.band-social img {
	width: 50px;
	margin: 5px;
	transition: 0.5s all;
}

.band-social img:hover {
	opacity: 0.5;
	transition: 0.5s all;
}

/* About */

.tab-vertical{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0);
	overflow: hidden;
	float: left;
	margin: 10% 0 0 3%;
	border-left: medium white;
}

.tab-vertical button {
	font-family: 'Open Sans', sans-serif;
	background-color: inherit;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 500;
	float: left;
	border: none;
	cursor: pointer;
	padding: 14px 16px;
	margin: 20px;
	transition: 0.3s;
	color: rgb(145, 145, 145);
	transition: 1s all;
}

.tab-vertical button:focus {
	outline: 0;
}

.tab-vertical button:hover {
	color: rgb(90, 90, 90);
	border: none;
}

.tab-vertical button.active {
	color: rgb(255, 255, 255);
	border: none;
}

#about-content {
	width: 60%;
	float: right;
	margin: 13% 20% 0 0;
}

#about-content h4 {
	text-align: center;
	color: #fff;
}

#about-content p {
	text-align: justify;
	color: #fff;
}

/* I needed a bit darker bcg for the about page*/
#about-wrapper {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.60);
}

#about-contact{
	padding-top: 5%;
}

#about-contact p {
	text-align: center;
}